<section>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="contact-page__map">
                    <div class="tour-map" map-lazy-load="https://maps.google.com/maps/api/js"
                         map-lazy-load-params="{{googleMapsUrl}}" style="width: 100%; height:500px; margin-top:30px; margin-bottom:30px;">
                        <ng-map center="10.76272,106.682641" zoom="18" style="width: 100%; height:100%">
                            <marker id="foo" position="10.76272,106.682641"
                                    on-click="map.showInfoWindow('bar')">
                            </marker>
                            <info-window id="bar" visible-on-marker="foo">
                                <div ng-non-bindable>
                                    <div id="siteNotice"></div>                                    
                                    <div id="bodyContent">
                                        <p>
                                            <b>GOFAR</b><br /> Công ty du lịch GOFAR.<br />
                                            Chuyên tổ chức các tour du lịch khắp mọi miền<br />
                                            Việt Nam cho các tổ chức, cá nhân. Với đội ngủ <br />
                                            nhân viên hùng hậu cùng lòng nhiệt tình và đam <br />
                                            mê. Chúng tôi sẽ tổ chức cho bạn những chuyến <br />
                                            đi đáng nhớ nhất
                                        </p>
                                    </div>
                                </div>
                            </info-window>
                        </ng-map>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1">
                <div class="contact-page__form" style="padding-bottom:50px; padding-top: 60px">
                    <div class="title">
                        <h2 style="font-size:50px">Liên hệ với chúng tôi</h2>
                    </div>
                    <div class="descriptions">
                        <p>Chúng tôi rất vui nếu được bạn góp ý về việc sử dụng dịch vụ.</p>
                    </div>
                    <form class="contact-form" method="post">
                        <div class="form-item">
                            <input type="text" placeholder="Họ tên *" name="name">
                        </div>
                        <div class="form-item">
                            <input type="email" placeholder="Email *" name="email">
                        </div>
                        <div class="form-item">
                            <input type="text" placeholder="Tiêu đề thư" name="subject">
                        </div>
                        <div class="form-item form-captcha">
                            <img src="/assets/images/img/captcha-demo.png" alt="" class="wpcf7-captchac">
                            <span class="wpcf7-form-control-wrap">
                                <input type="text" placeholder="Nhập mã xác nhận">
                            </span>
                        </div>
                        <div class="form-textarea-wrapper">
                            <textarea name="message" placeholder="Gửi cho chúng tôi ý kiến của bạn về dịch vụ"></textarea>
                        </div>
                        <div class="form-actions">
                            <input type="submit" value="Gửi" class="submit-contact">
                        </div>
                        <div id="contact-content"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>