<footer id="footer-page">
    <div class="container">
      
        <div class="row">
            <!-- WIDGET -->
            <div class="col-md-3">
                <div class="widget widget_contact_info">
                    <div class="widget_background">
                        <div class="widget_background__half">
                            <div class="bg"></div>
                        </div>
                        <div class="widget_background__half">
                            <div class="bg"></div>
                        </div>
                    </div>
                    <div class="logo">
                        <img href="/assets/images/logo-footer.png" alt=""></img>
                    </div>
                    <div class="widget_content">
                      <p>
                        <font size="4" color="#FFFFFF">GOFAR TRAVEL 2016</font></p>
                        <p>Với sứ mệnh đem lại sự trải nghiệm cho khách hàng trên con đường khám phá thế giới.</p>
                    </div>
                </div>
            </div>
            <!-- END / WIDGET -->
            <!-- WIDGET -->
            <div class="col-md-2">
                <div class="widget widget_about_us">
                    <h3>Liên hệ</h3>
                    <ul>
                        <li>Điện thoại: 0123 807 2728</li>
                        <li>Hotline: 0123 807 2728</li>
                        <li>Trung tâm DVKH: 227 Nguyễn Văn Cừ, Quận 5, TP Hồ Chí Minh</li>
                        <li>Website: <a href="#">gofar.com</a></li>
                        <li>E-mail: <a href="#">contact@gofar.com</a></li>
                        <li>Thứ 2 - thứ 7: 9h - 18h</li>
                    </ul>
                </div>
            </div>
            <!-- END / WIDGET -->
            <!-- WIDGET -->
            <div class="col-md-2">
                <div class="widget widget_categories">
                  <h3>GOFAR TRAVEL</h3>
                  <ul>
                    <li>
                      <a href="#">Về GOFAR TRAVEL</a>
                    </li>
                    <li>
                      <a href="#">Chương trình</a>
                    </li>
                    <li>
                      <a href="#">Tuyển dụng</a>
                    </li>
                    <li>
                      <a href="#">Điều khoản</a>
                    </li>
                    <li>
                      <a href="#">Chính sách bảo mật</a>
                    </li>
                    <li>
                      <a href="#">Câu hỏi thường gặp</a>
                    </li>
                    <li>
                      <a href="#">Diễn đàn</a>
                    </li>
                  </ul>
                </div>
            </div>
            <!-- END / WIDGET -->
            <!-- WIDGET -->
            <div class="col-md-2">
                <div class="widget widget_recent_entries">
                  <h3>Phân loại</h3>
                  <ul>
                    <li>
                      <a href="#">Quốc gia</a>
                    </li>
                    <li>
                      <a href="#">Vùng miền</a>
                    </li>
                    <li>
                      <a href="#">Thành phố</a>
                    </li>
                    <li>
                      <a href="#">Quận/ Huyện</a>
                    </li>
                    <li>
                      <a href="#">Sân bay</a>
                    </li>
                    <li>
                      <a href="#">Khách sạn</a>
                    </li>
                    <li>
                      <a href="#">Các địa điểm tham quan</a>
                    </li>
                  </ul>
                </div>
            </div>
            <!-- END / WIDGET -->
            <!-- WIDGET -->
            <div class="col-md-3">
                <div class="widget widget_follow_us">
                    <div class="widget_content">
                      <h3>Đăng ký nhận email</h3>
                      <!-- Begin MailChimp Signup Form -->
                        <ng-include src="'/views/shared/email.html'"></ng-include>
                       <!--End mc_embed_signup-->
                        <div class="awe-social">
                            <p>Kết nối với chúng tôi</p>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>                
            </div>
            <!-- END / WIDGET -->
        </div>
        <div class="copyright">
            <p>Bản quyền © 2016 GOFAR travel™. Phát triển bởi nhóm GOFAR travel.</p>
        </div>
    </div>
</footer>