<!-- SLIDER -->
<div class="slider-wrap">
    <div class="tp-banner-container">
        <div rev-slider
             id="rev_slider"
             class="tp-banner"
             data-version="5.1.1RC"
             slider-Type="{{slider.sliderType}}"
             slider-Layout="{{slider.sliderLayout}}"
             responsive-Levels="{{slider.responsiveLevels}}"
             gridwidth="{{slider.gridwidth}}"
             gridheight="{{slider.gridheight}}"
             auto-Height="{{slider.autoHeight}}"
             min-Height="{{slider.minHeight}}"
             full-Screen-Offset-Container="{{slider.fullScreenOffsetContainer}}"
             full-Screen-Offset="{{slider.fullScreenOffset}}"
             delay="{{slider.delay}}"
             disable-Progress-Bar="{{slider.disableProgressBar}}"
             start-Delay="{{slider.startDelay}}"
             stop-After-Loops="{{slider.stopAfterLoops}}"
             stop-At-Slide="{{slider.stopAtSlide}}"
             view-Port="{{slider.viewPort}}"
             lazy-Type="{{slider.lazyType}}"
             dotted-Overlay="{{slider.dottedOverlay}}"
             shadow="{{slider.shadow}}"
             spinner="{{slider.spinner}}"
             hide-All-Caption-At-Lilmit="{{slider.hideAllCaptionAtLilmit}}"
             hide-Caption-At-Limit="{{slider.hideCaptionAtLimit}}"
             hide-Slider-At-Limit="{{slider.hideSliderAtLimit}}"
             debug-Mode="{{slider.debugMode}}"
             extensions="{{slider.extensions}}"
             extensionssuffix="{{slider.extensions_suffix}}"
             fallbacks="{{slider.fallbacks}}"
             parallax="{{slider.parallax}}"
             rev-Carousel="{{slider.carousel}}"
             navigation="{{slider.navigation}}"
             js-File-Location="{{slider.jsFileLocation}}"
             visibility-Levels="{{slider.visibilityLevels}}"
             hide-Thumbs-On-Mobile="{{slider.hideThumbsOnMobile}}"
             slides="slider.slides"
             slider-Template-Url="Views/shared/slider.tpl.html">
        </div>
    </div>
</div>